/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: #202f5c !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #202f5c !important;
}

.mat-button, .mat-raised-button {
  background-color: #202f5c;
  color: white;
  border-radius: 20px !important;
}

.mat-button, .mat-icon-button {
  color: #202f5c;
}

mat-sidenav {
  width: 300px;
  padding: 15px;
}

.mat-drawer {
  background: linear-gradient(to bottom, #161f6a 0%, #0c1036 100%);
  color: #fff;
  overflow: hidden;
  border: 0px;
}

.sidebar-header {
  padding: 20px;
  color: #58BFD3;
  padding-bottom: 20px;
}

.sidebar-header h1 {
  font-weight: bold;
}

.mat-drawer-inner-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-left: 20px;
}

.sidebar-list ul li {
  padding: 20px;
  font-size: 1.1em;
  color: #6672C6;
  display: block;
  font-weight: bold;
}

.sidebar-list ul li:hover {
  cursor: pointer;
  text-decoration: none;
}

.sidebar-list ul li.active {
  color: #161f6a;
  background: white;
  border-radius: 10px;
}

.main-content {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-toolbar {
  background-color: white !important;
}

.mat-tab-label {
  font-weight: bold;
  text-transform: uppercase;
}

.mat-tab-label-active {
  color: #202f5c;
}

.with-icon {
  display: flex;
  align-items: center;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.mat-divider {
  border-top-color: white;
  border-top-width: 3px !important;
}

.vertical-divider {
  width: 0;
  border-right: 1px solid #A0A0A0;
  height: calc(4.375rem - 2rem);
  margin: auto 0.5rem;
}

.mat-action-row {
  place-content: space-between;
}

.default-btn {
  height: 35px;
  width: 120px;
  margin-top: 5px;
  color: white;
  border-radius: 15px;
}

.mat-menu-panel.custom-mat-menu {
  min-width: 350px;
  max-height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
}

.menu-header {
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 20px;
  color: #202f5c;
}

.mat-icon-button:focus, .mat-menu-item:focus, .mat-raised-button:focus, .mat-flat-button:focus {
  outline: none;
}

.remove-border-bottom .mat-tab-header {
  border-bottom: none;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #FCC97A;
}

.mat-tab-body {
  height: 100%;
  overflow: hidden;
}

.top-user-title-card {
  color: black;
  margin: 0;
  padding: 0;
}

.top-user-subtitle-card {
  margin: 0;
  padding: 0;
}

.mat-paginator.paginator-alignment {
  float: left;
}

table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: center !important;
}
